#include "resource.h"

IDI_ICON1               ICON                    "..\\..\\..\\Bin\\Assets\\icon\\Hamster.ico"
IDI_ICON2               ICON                    "..\\..\\..\\Bin\\Assets\\icon\\Cat.ico"
